* {
    cursor: default;
}

td, th, div {
    height: 50px;
    width: 50px;
    text-align: center;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

div {
    font-size: 38px;
}

tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
    background-color: burlywood;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background-color: saddlebrown;
}